<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="t_center">
      <h2 >สมัครสมาชิก</h2>
      <div class="ion-padding">
        <ion-input label="name" type="text" [(ngModel)]="txtname" fill="solid"></ion-input>
        <ion-input label="email" type="email" [(ngModel)]="txtemail" fill="solid"></ion-input>
        <ion-input label="username"  type="text" [(ngModel)]="txtusername" fill="solid"></ion-input>
        <ion-input label="password"  type="password" [(ngModel)]="txtpassword" fill="solid"></ion-input>
      </div>
      <ion-button  (click)="register()"> สมัครสมาชิก</ion-button>
    </div>
  </ion-card>
</ion-content>
